[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/wycats/nerdtree.git
[submodule "bundle/vim-rdoc"]
	path = bundle/vim-rdoc
	url = https://github.com/hallison/vim-rdoc.git
[submodule "bundle/scss-syntax"]
	path = bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule "bundle/textile.vim"]
	path = bundle/textile.vim
	url = https://github.com/zorab47/textile.vim
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-clojure"]
	path = bundle/vim-clojure
	url = https://github.com/vim-scripts/VimClojure
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-log4j"]
	path = bundle/vim-log4j
	url = https://github.com/tetsuo13/Vim-log4j.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-screen"]
	path = bundle/vim-screen
	url = git://github.com/ervandew/screen.git
[submodule "vim-ruby-minitest"]
	path = vim-ruby-minitest
	url = https://github.com/sunaku/vim-ruby-minitest
[submodule "bundle/vim-ruby-minitest"]
	path = bundle/vim-ruby-minitest
	url = https://github.com/sunaku/vim-ruby-minitest
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
